<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
   
    <body>
        {{>header}}
        {{!-- <h1>{{title}}</h1> --}}
        <p>This site is created by Rahul. It uses data from mapbox and darksky.net!</p>
        <img src="img/robot.png">
        {{>footer}}
    </body>
</html>